.donate {
    background-image: url("Images/donateBackground.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7faff;
    margin: 0;
    padding: 0;
    min-height: 100vh; /*   this is so that the background image will always cover the page                 however the page can get bigger, if needed by the margins of the inner content */
}

.donate h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 10px;
}

.donate p {
    width: 800px;
    color: #2c3e50;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

@media (max-width: 900px) {
    .donate p {
        width: 600px;
        font-size: 16px;
    }
}


.donate #donateForm {
    display: block;
    width: 70%;
    background-color: rgb(231, 240, 248);
    padding: 20px;
    border-radius: 5px;
    margin: 0;
    margin-top: 50px;
    border: 1px solid #2c3e50;
    margin-bottom: 200px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.buttonContainer button {
    flex: 1;
    height: 40px;
    background-color: #ffffff;
    color: #2c3e50;
    font-size: 16px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
}

.buttonContainer button:hover {
    background-color: #2c3e50;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #2c3e50;
}

button#monthly.active { 
    background-color: #2c3e50;
    color: #ffffff;
}

button#singleTime.active {
    background-color: #2c3e50;
    color: #ffffff;
} 

.amount {
    display: flex;
    gap: 10px;
}


.customRadio {
    display: none;
}

.customRadio + label:hover{
    background-color: #2c3e50;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #2c3e50;
}

.customRadio + label{
    flex: 1;
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    height: 40px;
    font-size: 18px;
    margin: 10px 0 10px 0;
    background-color: #ffffff;
    color: #2c3e50;
    text-align: center; 
    border-radius: 5px;
    border: 1px solid #2c3e50;
}

.customRadio:checked + label {
    background-color: #2c3e50;
    color: #ffffff;
    border: 1px solid #2c3e50;
}

.customRadio {
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 30px;
}

.nameForm {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    outline-color: #2c3e50;
}

.spanText {
    width: 100%;   
    height: 40px; 
    border-radius: 5px;
    border: 1px solid #2c3e50;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    outline-color: #2c3e50;
}

h3 {
    font-size: 18px;
    color: #2c3e50;
    margin: 0;
}

@media (max-width: 900px) {
    h3 {
        font-size: 15px;
    }

    .customRadio + label{
        font-size: 15px;
    }
}


.personalInfo {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Each colomn has equal width, two columns */
    grid-template-rows: auto auto; /* Adjusts row heights automatically depending on content */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    gap: 10px;
}

.infoElement {
    width: 100%;
    margin: 0;
}

.creditCardInfo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#paymentMethod {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline-color: #2c3e50;
}

.method {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


.method h3 {
    font-size: 17px;
}

@media (max-width: 900px) {
    .method h3 {
        font-size: 14px;
    }
}


.cardInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Each colomn has equal width, three columns */
    grid-template-rows: auto auto; /* Adjusts row heights automatically depending on content */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-top: 10px;
    gap: 10px;
}

.cardInfo select {
    height: 40px;
    border-radius: 5px;
    outline-color: #2c3e50;
}

.bankInfo {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Each colomn has equal width*/
    grid-template-rows: auto auto; /* Adjusts row heights automatically depending on content */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    gap: 10px;
}

#accountType {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.submitButton {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.submitButton #submitBtn {
    width: 100%;   
    height: 40px; 
    border-radius: 5px;
    border: 1px solid #2c3e50;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #2c3e50;
    color: #f7faff;
    font-size: 16px;
}

#submitBtn:hover {
    background-color: #ffffff;
    cursor: pointer;
    color: #2c3e50;
    border: 1px solid #2c3e50;
}

.errors {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    color: #de2b2b;
    padding: 5px;
}

@media (max-width: 900px) {
    .errors {
        font-size: 15px;
    }
}

@media (max-width: 680px) {
    .donate p {
        width: 400px;
        font-size: 14px;
    }

    .customRadio + label{
        font-size: 12px;
    }

}

@media (max-width: 550px) {
    .customRadio + label{
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    .donate p {
        width: 300px;
    }

    .customRadio + label{
        font-size: 16px;
    }
}

